/* CSS styles */

.grid-container {
  display: grid;
  width: 820px;
  height: 820px;
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  border-radius: 30px;
  box-shadow: 1px 1px 1px #999;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  /*transform: rotate(-90deg);*/
}

img {
  background:transparent;
  max-width: 90%;
  max-height: 90%
}

.tile {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
}
.tile:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

h1 {
font-family: Impact, sans-serif;
color: #CE5937;
}

.piece {
  position: relative;
  text-align: center;
  /*top: 20px;*/
  font-size: 40px;
}
